<nav class="menu">
  <input id="menu-check" type="checkbox" hidden/>
  <label id="menu-label" for="menu-check" class="unselectable" hidden>
    <span class="icon close-icon">✕</span>
    <span class="icon open-icon">☰</span>
    <span class="text">Menu</span>
  </label>
  <ul>
  {{ $currentPage := . }}
  {{ range (default .Site.Menus.main (index .Site.Menus ($.Scratch.Get "section"))) }}
  <li{{ if eq .URL $currentPage.RelPermalink }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
  {{ end }}
  {{ partial "menu_extra.html" . }}


   <!-- 头像li -->
    <li class="menu-avatar">
      <a href="/about/">
        <img src="{{ .Site.Params.avatar }}" alt="User Avatar" class="avatar" />
      </a>
    </li>
  </ul>
</nav>


<style>
  .menu-avatar {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
  }
</style>